*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: sans-serif;
  
}
.container{
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  /* background: rgb(244, 214, 214); */
  transition: 0.5s;
}

.container.dark {
  background: #222;

}

/* .bg{
  width: 500px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./assets/background.jpeg');
} */